.hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.hero-bg {
  background-color: var(--neutral-50);
}

.hero h1 {
  margin-top: 40px;
}

.hero-img {
  max-width: 190px;
}

.hero-btn {
  align-self: center;
}

.hero-btn button {
  float: right;
}

.popsicle-container img {
  max-width: 66px;
  max-height: 200px;
  transform: rotate(25deg);
  filter: drop-shadow(2px 8px 2px rgba(0, 0, 0, 0.06))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
}

.popsicle-container {
  position: absolute;
  right: 190px;
  bottom: -120px;
  display: none;
}

@media (min-width: 640px) {
  .hero {
    grid-template-columns: 1fr 1fr;
  }

  .popsicle-container {
    display: block;
  }
}
